@model DizimistaModel
@{
    ViewData["Title"] = "Confirmação apagar cadastro";
}

<div class="text-center p-3">
    <h3>Realmente deseja apagar o cadastro (@Model.Nome)?</h3>
</div>

<a class="btn btn-primary d-block" role="button" asp-controller="Dizimista" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger d-block" role="button" asp-controller="Dizimista" asp-action="DizimistaApagar" asp-route-id="@Model.Id">Confirmar exclusão</a>
