@{
    ViewData["Title"] = "Dízimo - Página principal";
}

<div class="text-center p-3">
    <h1 class="display-4">Dízimo - Ofir Informática</h1>
    <hr />
    <div class="bd-grid">
        <div>
            <img class="img-fluid rounded col-3" src="./img/ofir1.jpg" alt="Como o ouro de Ofir." />
        </div>

        <div>
            <h2 class="text-black">
                Eu sou Robson S. Pires</h2>
            <p class="text-primary-subtle">
                Desenvolvedor de web apps com o ASP.NET C#.
                <br />A caminho de ser um desenvolvedor.
            </p>
            <p>Github: <a href="https://github.com/Robsonspires">github.com/Robsonspires</a>.</p>
        </div>
    </div>
</div>
